/* This file is to get rid of the scrollbar */

body {
    /* 1. Removes the default margin around the page edge.*/
    margin: 0;

    /* 2. Removes default internal spacing. */
    padding: 0;

    /* 3. The Layout Saver: Changes how size is calculated. 
    now if we set something to 100vh any content inside will get squished instead of addede*/
    box-sizing: border-box;
}