body {
    /* This is to get rid of the scrollbar */
    /* 1. Removes the default margin around the page edge.*/
    margin: 0;

    /* 2. Removes default internal spacing. */
    padding: 0;

    /* 3. The Layout Saver: Changes how size is calculated. 
    now if we set something to 100vh any content inside will get squished instead of addede*/
    box-sizing: border-box;


    /* Add Background image */
    /*background-image: url('path/to/your/image.jpg');  Is being set dynamically */
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}